/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional: Include this line to make sure padding and border are included in the element's total width and height */
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #121212;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  #555;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #242424;
  }